.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image:
    radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  z-index: -1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  min-height: 3000px; 
  color: white;
  padding: 20px;
}

a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}